<template>
    <tr>
        <td><a :href= "classe.liens.show" > {{ classe.data.code }}</a> </td>
        <td>{{ classe.data.nom }} </td>
        <td>{{ classe.data.sessionscholaire.nom }} </td>
        <td>{{ classe.data.groupe }} </td>
        <td>{{ classe.data.local }} </td>
        <td><router-link :to="'/classeEdit/'+classe.data.id" class="btn btn-info">Éditer</router-link> </td>

        <td><a @click="confirmeEffacer(classe.data.id, index)" class="btn btn-info">Effacer</a></td>
        <td><a :href="classe.liens.tps" class="btn btn-info">TPs</a></td>
        <td><a :href="classe.liens.etudiants" class="btn btn-info">Étudiants</a></td>
    </tr>

</template>

<script>
    export default {
        props: ['classe', 'index'],
        methods: {
            confirmeEffacer(id,index) {
                let that = this

                this.$swal({     //$swal c'est SweetAlert
                    title: "Effacer  "+this.classe.nom,
                    text: "Il n'y aura aucun retour en arrière possible !",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Oui supprimer !',
                    cancelButtonText: 'Non',
                }).then( (result) => {
                    if(result.value) {
                        axios.get('http://localhost:8000//api/classes/deleteApi/' + id)
                            .then(response => {
                                that.$emit('deleted', index);
                            })
                            .catch(function (erreur) {
                                that.$swal("erreur lors de l'effacement")
                            })
                    } else (
                        that.$swal('annulé')
                    )
                });
            }
        }
    }

</script>