<template>
    <div>
        <div class="table-responsive">  <!-- voir http://getbootstrap.com/css/#tables-responsive -->
            <table class="table">
                <thead>
                <tr>
                    <th>Code</th>
                    <th>Nom</th>
                    <th>Session</th>
                    <th>Groupe</th>
                    <th>Local</th>
                    <th> </th>
                    <th> </th>
                    <th> </th>
                    <th> </th>
                    <th> </th>

                </tr>
                </thead>
                <template v-if="listeDeClasses.length > 0">
                    <tbody v-for="(uneClasse, index) in listeDeClasses">
                    <classe-ligne v-bind:classe="uneClasse" v-bind:index="index" v-on:deleted="doLigneEfface"  ></classe-ligne>
                    </tbody>
                </template>
                <template v-else>
                    <p v-if="etat=='chargement'">chargement de la liste des classes</p>
                    <p v-else>Aucune classes à afficher</p>
                </template>

            </table>
        </div>
    </div>
</template>

<script>
    import ClasseLigne from './ClasseLigneComponent.vue'

    import axios from 'axios';

    export default {
        name: 'application',
        data () {
            return {
                listeDeClasses: [],
                etat: 'chargement'
            }
        },

        methods: {
            doLigneEfface(index) {
                this.listeDeClasses.splice(index,1)
            }
        },

        mounted: function () {
          axios.get('http://localhost:8000//api/classes/indexApi')
              .then(response => {
                  this.etat = "charge";
                  this.listeDeClasses = response.data;
              });

        },

        components: {
            ClasseLigne
        }
    }
</script>